* {
    font-family: sans-serif;
}
@mixin pad {
    padding: 30px;
    text-align: center;
    background-color: #EAF2F5;
    border-radius: 15px;
}

@mixin btn {
    padding: 10px 35px;
    border-radius: 20px;
    background-color: #5096FF;
    color: white;
}

@mixin section {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}
.p1 {
    @include section;
    div {
        display: flex;
        gap: 20px;
    }
    button {
        padding: 10px 30px;
        background-color: #5096FF;
        color: white;
        border-radius: 20px;
    }
}
.p3 {
    @include section;
    margin-top: 50px;
    div {
        font-size: 20px;
        p {
            margin-bottom: 30px;
        }
    }
    .p2 {
         padding: 15px 30px;
        background-color: #F15525;
        color: white;
        border-radius: 20px; 
        display: inline;
    }
}
.p5 {
    display: flex;
    gap: 10px;
}
.p6 {
    @include section;
    background-color: #EAF2F5;
    border-radius: 20px;
    .p8 {
        @include btn;
        background-color: #FFB359;
    }
    .p7 {
        @include btn;
        
    }
    .p11 {
        @include btn;
    }
    .p9 {
        @include btn;
        background-color: #FF6F50;
    }
    .p10 {
        @include btn;
        background-color: #4BD071;
    }
    .p12 {
        @include btn;
        background-color: #4B77B9;
    }
    .p13 {
        @include btn;
        background-color: #AF93FF;
    }
}
.m1 {
    @include section;
    div {
        @include pad;
    }
}
.m2 {
    @include section;
    justify-content: center;
    gap: 30px;
    div {
        @include pad;
    }
}
.m3 {
    @include section;
    flex-direction: column;
}
.m4 {
    @include section;
}





@media (max-width:500px) {
    .p1 {
        
        .p4 {
            display: none;
        }
    }
    .p3 {
        flex-direction: column;
        row-gap: 30px;
        text-align: center;
        h1 {
            font-size: 30px;
        }
        img {
            width: 90%;
        }

    }
    .p6 {
   
        img {
            display: none;
            text-align: center;
        }
    }
    .p13 {
        display: none;
    }
    .m1, .m2 {
       width: 90%;
       margin: auto;
        flex-direction: column;
        row-gap: 15px;
    }
    .m3 {
        text-align: center;
    }
    .m4 {
        width: 90%;
        margin: auto;
    }
   
}